@import "./_variables";

html,
body {
  color: $c_dark;
  font-size: 16px;
  font-family: $font;
  background-color: $c_secondary;
}

.container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  max-width: min(800px, 95vw);
}

.title {
  font-size: clamp(1.25rem, 2.5vw, 1.6rem);
  font-weight: bold;
}
.subtitle {
  font-size: clamp(1.1rem, 2.5vw, 1.25rem);
  font-weight: bold;
}
.remark,
.placeholder {
  color: $c_secondary-dark;
  line-height: clamp(1.25rem, 2.5vw, 1.5rem);
}
.status {
  font-style: italic;
  color: $c_success;
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  text-align: center;
}
