@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$font: "Roboto", sans-serif;
$c_dark: #151f1f;
$c_light: #ffffff;
$c_primary: #58a28b;
$c_primary-dark: #3b5e49;
$c_danger: #b33b4d;
$c_success: #d1b5d6;
$c_warning: #f5a623;
$c_warning-light: #fde4b7;
$c_secondary: #e1e1e1;
$c_secondary-light: #f2f2f2;
$c_secondary-dark: #757575;
