@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$font: "Roboto", sans-serif;
$c_dark: #000000;
$c_light: #ffffff;
$c_primary: #4a90e2;
$c_primary-dark: #00408b;
$c_danger: #d0021b;
$c_warning: #f5a623;
$c_success: #63b3b0;
$c_warning-light: #fff2dc;
$c_secondary: #e1e1e1;
$c_secondary-light: #f2f2f2;
$c_secondary-dark: #757575;
